<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="requisitions" class="nav-link"><fa-icon class="mr-1" [icon]="iconList"></fa-icon> Requisições</a>
      </li>
      <li class="nav-item">
        <a routerLink="tasks" class="nav-link"><fa-icon class="mr-1" [icon]="iconTasks"></fa-icon> Tarefas</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Move Out Cloud <fa-icon class="ml-1" [icon]="iconCloudDownload"></fa-icon></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="requisition" class="nav-link"><fa-icon class="mr-1" [icon]="iconEdit"></fa-icon> Nova Requisição</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
