<h4><fa-icon class="mr-1" [icon]="iconList"></fa-icon> Lista de Requisições</h4>
<table class="table table-striped table-responsive-lg table-hover mt-5">
  <thead>
  <tr>
    <th scope="col"><fa-icon [icon]="iconHash"></fa-icon></th>
    <th scope="col"><fa-icon class="mr-1" [icon]="iconStopwatch"></fa-icon> Status</th>
    <th scope="col"><fa-icon class="mr-1" [icon]="iconTable"></fa-icon> Origem</th>
    <th scope="col"><fa-icon class="mr-1" [icon]="iconFilter"></fa-icon> Filtro</th>
    <th scope="col"><fa-icon class="mr-1" [icon]="iconTasks"></fa-icon> Tarefas</th>
    <th scope="col"><fa-icon class="mr-1" [icon]="iconCalendar"></fa-icon> Data da Requisição</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let requisition of requisitions" (click)="navToDetail(requisition.id)" role="button">
    <th scope="row">{{ requisition.id }}</th>
    <td><span class="badge badge-primary"><fa-icon class="mr-1" [icon]="iconFresh"></fa-icon> {{ requisition.status }}</span></td>
    <td>{{ requisition.dbName }}.{{ requisition.tableName }}</td>
    <td>{{ requisition.filterClause }}</td>
    <td>{{ requisition.tasksQuantity }}</td>
    <td>{{ requisition.createdAt }}</td>
  </tr>
  </tbody>
</table>
